body {
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;
    /* font-family: Poppins, sans-serif; */
}

.login-page {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.login_container {
    width: 30%;
    padding: 20px;
    margin: 23px auto 0px auto;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 10px 25px rgb(0 0 0 / 5%),
    0 20px 48px rgb(0 0 0 / 5%),
    0 1px 4px rgb(0 0 0 / 10%);
}


.login-by {
    margin: auto;
}
.register-by-email-form {
    display: flex;
    flex-direction: column;

}

.welcome-text {
    /* display: flex; */
    margin: 22px 40%;    
    font-size: 38px;
    font-weight: 700;
}

.login-text {
    /* display: inline-block; */
    margin: 10px 42.2%;
    font-size: 20px;
}

.login-submit {

}

.login-by {
    font-size: xx-large;
}

.log-by {
    color: #0000FF
}


#email-label {
    opacity: 70%;
}
#email {
    margin: 0px 0px 20px 0px;
    background-color: rgba(255, 255, 255, 0.1);
}

#password-label {
    opacity: 70%;
}
#password {
    background-color: rgba(255, 255, 255, 0.1);
}

.register-page-link {
    color: #0000FF;
    text-decoration: none;

}